<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Model1Board</display-name>
	
	<servlet>
		<servlet-name>registServlet</servlet-name>
		<servlet-class>org.sp.model1board.controller.RegistServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<url-pattern>/board/regist</url-pattern>
		<servlet-name>registServlet</servlet-name>
	</servlet-mapping>

	<!-- 겔러리 글 쓰기를 처리하는 서블릿 매핑 -->
	<servlet>
		<servlet-name>registGallery</servlet-name>
		<servlet-class>org.sp.model1board.controller.RegistGallery</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<url-pattern>/gallery/regist</url-pattern>
		<servlet-name>registGallery</servlet-name>
	</servlet-mapping>
	
	<!-- 파일을 다운로드 요청을 처리하는 서블릿 -->
	<servlet>
		<servlet-name>downServlet</servlet-name>
		<servlet-class>org.sp.model1board.controller.DownServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<url-pattern>/gallery/download</url-pattern>
		<servlet-name>downServlet</servlet-name>
	</servlet-mapping>
	
	
	
</web-app>


